
body {
font-size: 1em;
font-weight: normal;
font-family: Arial, Sans-serif;
color: #000000; /* black */
text-align: left;
}
h1 {
font-size: 1.8em;
font-weight: bold;
color: #0000ff; /* blue */
text-align: center;
}
h2 {
font-size: 1.8em;
font-weight: bold;
color: green; /* blue */
text-align: center;
}
div {
font-size : 1.3em;
font-family: courier;
padding: 0;
border: 1px solid black;
margin: 0;
}
p {
font-family: courier;
text-align: justify;
text-align: center;
padding: 1em;
border-width: 10px;
border-style: solid;
border-color: blue;
margin: 10px !important;
}
